body {
  margin: 0;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.CV-Title {
  display: flex;
  background-color: rgb(220, 220, 220, 0.5);
  border: none;
  color: grey;
}
.CV-Title-left {
  width: 100%;
  float: left;
  padding-left: 20px;
}
.CV-Title-left h1 {
  color: black;
}
.CV-Title-right {
  width: 100%;
  float: right;
  text-align: right;
  padding-right: 20px;
}

.CV-Body {
  margin-left: 20px;
  display: flex;
}
.CV-Body-left {
  margin: 40px;
  width: 80%;
}
.linetime {
  margin-bottom: 10px;
  position: relative;
}
.linetime::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 130%;
  background: gainsboro;
  left: -25px;
  top: 6px;
}
.linetime::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: black;
  left: -28px;
  top: 5px;
}

.newP {
  display: flex;
}
.fecha {
  position: relative;
  left: -30px;
  padding-right: 20px;
  font-size: x-small;
}
.fecha span {
  display: block;
}
.fecha-l {
  text-align: center;
}
.CV-Body-right {
  width: 80%;
  margin: 40px;
}
.CV-Body-right button {
  padding: 7px;
  background-color: #0073ff;
  border-radius: 5px;
  color: white;
  border: none;
}
.pblue {
  color: #0073ff;
  display: flex;
}
.pleft {
  text-align: left;
  width: 100%;
}
.pright {
  text-align: right;
  width: 100%;
}
.CV-Footer {
  display: flex;
  background-color: gainsboro;
  border: none;
}
.CV-Footer-left {
  width: 100%;
  float: left;
  padding-left: 20px;
}
.CV-Footer-right {
  width: 100%;
  float: right;
  text-align: right;
  padding-right: 20px;
  padding-top: 25px;
  align-items: center;
  justify-content: center;
}
